<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Copyright (c) 2016 by ivan.huang all rights reserved  
*********************************************** 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="com.hl.childhood.mapper.CoreRecordMapper">

    <resultMap type="com.hl.childhood.module.CoreRecord" id="coreRecordResult">
        <result column="ur_id" property="ur_id"/>
        <result column="user_id" property="user_id"/>
        <result column="record_type" property="record_type"/>
        <result column="order_id" property="order_id"/>
        <result column="recommend_id" property="recommend_id"/>
        <result column="mr_id" property="mr_id"/>
        <result column="mr_score" property="mr_score"/>
        <result column="current_score" property="current_score"/>
        <result column="record_time" property="record_time"/>
    </resultMap>

    <sql id="table">
        t_core_record
    </sql>

    <sql id="tableColumns">
        <trim>
            ur_id,
            user_id,
            record_type,
            order_id,
            recommend_id,
            mr_id,
            mr_score,
            current_score,
            record_time
        </trim>
    </sql>

    <!-- insertColumns 入库列 -->
    <sql id="insertColumns">
        <trim suffix="" suffixOverrides=",">
            <if test="ur_id != null and ur_id != ''">ur_id,</if>
            <if test="user_id != null and user_id != ''">user_id,</if>
            <if test="record_type != null ">record_type,</if>
            <if test="order_id != null and order_id != ''">order_id,</if>
            <if test="recommend_id != null and recommend_id != ''">recommend_id,</if>
            <if test="mr_id != null and mr_id != ''">mr_id,</if>
            <if test="mr_score != null ">mr_score,</if>
            <if test="current_score != null ">current_score,</if>
            record_time,
        </trim>
    </sql>

    <!-- insertColumns 入库值 -->
    <sql id="insertParams">
        <trim suffix="" suffixOverrides=",">
            <if test="ur_id != null and ur_id != ''">#{ur_id,jdbcType=VARCHAR},</if>
            <if test="user_id != null and user_id != ''">#{user_id,jdbcType=VARCHAR},</if>
            <if test="record_type != null '">${record_type},</if>
            <if test="order_id != null and order_id != ''">#{order_id,jdbcType=VARCHAR},</if>
            <if test="recommend_id != null and recommend_id != ''">#{recommend_id,jdbcType=VARCHAR},</if>
            <if test="mr_id != null and mr_id != ''">#{mr_id,jdbcType=VARCHAR},</if>
            <if test="mr_score != null">${mr_score},</if>
            <if test="current_score != null">${current_score},</if>
            now(),
        </trim>
    </sql>

    <!-- updateParams  更新列 -->
    <sql id="updateParams">
        <trim suffix="" suffixOverrides=",">
            <if test="user_id != null">
                user_id=#{user_id,jdbcType=VARCHAR},
            </if>
            <if test="record_type != null and record_type != ''">
                record_type=#{record_type,jdbcType=VARCHAR},
            </if>
            <if test="order_id != null and order_id != ''">
                order_id=#{order_id,jdbcType=VARCHAR},
            </if>
            <if test="recommend_id != null and recommend_id != ''">
                recommend_id=#{recommend_id,jdbcType=VARCHAR},
            </if>
            <if test="mr_id != null and mr_id != ''">
                mr_id=#{mr_id,jdbcType=VARCHAR},
            </if>
            <if test="mr_score != null">
                mr_score=#{mr_score},
            </if>
        </trim>
    </sql>

    <!-- fields  模糊查询 -->
    <sql id="allAndLike">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.user_id != null and t.user_id != '' ">and user_id like
                    concat('%',#{t.user_id},'%')
                </if>
                <if test="t.record_type != null   ">
                    and record_type = ${t.record_type}
                </if>
                <if test="t.order_id != null and t.order_id != '' ">and order_id like
                    concat('%',#{t.order_id},'%')
                </if>
                <if test="t.recommend_id != null and t.recommend_id != '' ">and recommend_id like
                    concat('%',#{t.recommend_id},'%')
                </if>
                <if test="t.mr_id != null and t.mr_id != '' ">and mr_id like
                    concat('%',#{t.mr_id},'%')
                </if>
            </if>
        </trim>
    </sql>

    <!-- fields  精准查询 -->
    <sql id="allAndEqual">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.ur_id != null  and t.ur_id != '' ">and ur_id =
                    #{t.ur_id}
                </if>
                <if test="t.user_id != null  and t.user_id != '' ">and user_id =
                    #{t.user_id}
                </if>
                <if test="t.record_type != null  ">and record_type =
                    ${t.record_type}
                </if>
                <if test="t.order_id != null  and t.order_id != ''  ">and order_id =
                    #{t.order_id}
                </if>
                <if test="t.recommend_id != null  and t.recommend_id != ''  ">and recommend_id =
                    #{t.recommend_id}
                </if>
            </if>
        </trim>
    </sql>

    <!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
    <sql id="primaryKeys">
        ur_id = #{ur_id}
    </sql>


    <sql id="queryParamSql">
        <where>
            <choose>
                <when test="queryParam !=null and queryParam.like==true">
                    <include refid="allAndLike"/>
                </when>
                <otherwise>
                    <include refid="allAndEqual"/>
                </otherwise>
            </choose>
            <if test="queryParam !=null and queryParam.queryCondition !=null">
                <![CDATA[${queryParam.queryCondition}]]>
            </if>

        </where>

        <choose>
            <when test="queryParam !=null and queryParam.orderFiled !=null and queryParam.orderFiled!=''">
                order by <![CDATA[${queryParam.orderFiled} ${queryParam.orderDirection}]]>
            </when>
            <when test="queryParam !=null and queryParam.orderFieldListStr !=null and queryParam.orderFieldListStr!=''">
                order by <![CDATA[${queryParam.orderFieldListStr}]]>
            </when>
            <otherwise>
                order by ur_id desc
            </otherwise>
        </choose>

        <if test="queryParam !=null and queryParam.limitOffSet !=null">
            limit <![CDATA[${queryParam.limitOffSet},${queryParam.pageSize}]]>
        </if>

    </sql>

    <!-- BaseMapper 对应接口 start  -->
    <!-- 1.  查询,主键查询   -->
    <select id="selectByPrimaryKey" resultMap="coreRecordResult">
        select
        <include refid="tableColumns"/>
        from t_core_record
        <where>
            <include refid="primaryKeys"/>
        </where>
    </select>

    <!-- 2. 查询,精准查询   -->
    <select id="selectByEqualT" resultMap="coreRecordResult">
        select
        <include refid="tableColumns"/>
        from t_core_record
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 3. 添加,插入记录   -->
    <insert id="insert">
        insert into t_core_record (<include refid="insertColumns"/>) values(<include refid="insertParams"/>);
    </insert>

    <!-- 4. 修改,主键更新  -->
    <update id="updateByPrimaryKey">
        update t_core_record
        <set>
            <include refid="updateParams"/>
        </set>
        <where>
            <include refid="primaryKeys"/>
        </where>
    </update>

    <!-- 5. 查询,实体模糊查询   -->
    <select id="selectByBlurryT" resultMap="coreRecordResult">
        select
        <include refid="tableColumns"/>
        from t_core_record
        <where>
            <include refid="allAndLike"/>
        </where>
        ORDER BY ur_id
    </select>

    <!-- 6. 查询 ,总行数,分页 ,模型 -->
    <select id="countByBlurryT" resultType="java.lang.Integer">
        select count(1) from t_core_record
        <include refid="queryParamSql"/>
    </select>

    <!-- 7. 删除,主键删除   -->
    <delete id="deleteByPrimaryKey">
        delete from t_core_record
        <where>
            <include refid="primaryKeys"/>
        </where>
    </delete>

    <!-- 8. 删除,按实体精准删除   -->
    <select id="deleteByT" resultMap="coreRecordResult">
        delete from t_core_record
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 9. 删除,按实体多字段模糊删除   -->
    <select id="deleteByBlurryT" resultMap="coreRecordResult">
        delete from t_core_record
        <where>
            <include refid="allAndLike"/>
        </where>
    </select>


    <select id="listByModel" resultMap="coreRecordResult">
        select
        <include refid="tableColumns"/>
        from t_core_record
        <include refid="queryParamSql"/>
    </select>

    <!-- BaseMapper 对应接口 end   -->



    <!-- OtherModule Mapper 对应接口 start  -->

    <!-- OtherModule Mapper 对应接口 end  -->

</mapper>
