<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Copyright (c) 2016 by ivan.huang all rights reserved  
*********************************************** 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="com.hl.childhood.mapper.CouponMapper">

    <resultMap type="com.hl.childhood.module.Coupon" id="couponResult">
        <result column="coupon_id" property="coupon_id"/>
        <result column="coupon_title" property="coupon_title"/>
        <result column="coupon_icon" property="coupon_icon"/>
        <result column="shop_id" property="shop_id"/>
        <result column="coupon_used" property="coupon_used"/>
        <result column="coupon_type" property="coupon_type"/>
        <result column="goods_id" property="goods_id"/>
        <result column="classify_id" property="classify_id"/>
        <result column="promotion_id" property="promotion_id"/>
        <result column="coupon_amount" property="coupon_amount"/>
        <result column="used_amount" property="used_amount"/>
        <result column="used_discount" property="used_discount"/>
        <result column="coupon_quota" property="coupon_quota"/>
        <result column="take_count" property="take_count"/>
        <result column="used_count" property="used_count"/>
        <result column="start_time" property="start_time"/>
        <result column="end_time" property="end_time"/>
        <result column="valid_type" property="valid_type"/>
        <result column="valid_start_time" property="valid_start_time"/>
        <result column="valid_end_time" property="valid_end_time"/>
        <result column="valid_days" property="valid_days"/>
        <result column="coupon_status" property="coupon_status"/>
        <result column="create_user" property="create_user"/>
        <result column="create_time" property="create_time"/>
        <result column="update_user" property="update_user"/>
        <result column="update_time" property="update_time"/>
    </resultMap>

    <sql id="table">
        t_coupon
    </sql>

    <sql id="tableColumns">
        <trim>
            coupon_id,
            coupon_title,
            coupon_icon,
            shop_id,
            coupon_used,
            coupon_type,
            goods_id,
            classify_id,
            promotion_id,
            coupon_amount,
            used_amount,
            used_discount,
            coupon_quota,
            take_count,
            used_count,
            start_time,
            end_time,
            valid_type,
            valid_start_time,
            valid_end_time,
            valid_days,
            coupon_status,
            create_user,
            create_time,
            update_user,
            update_time
        </trim>
    </sql>

    <!-- insertColumns 入库列 -->
    <sql id="insertColumns">
        <trim suffix="" suffixOverrides=",">
            <if test="coupon_id != null and coupon_id != ''">coupon_id,</if>
            <if test="coupon_title != null and coupon_title != ''">coupon_title,</if>
            <if test="coupon_icon != null and coupon_icon != ''">coupon_icon,</if>
            <if test="shop_id != null and shop_id != ''">shop_id,</if>
            <if test="coupon_used != null ">coupon_used,</if>
            <if test="coupon_type != null ">coupon_type,</if>
            <if test="goods_id != null and goods_id != ''">goods_id,</if>
            <if test="classify_id != null and classify_id != ''">classify_id,</if>
            <if test="promotion_id != null and promotion_id != ''">promotion_id,</if>
            <if test="coupon_amount != null ">coupon_amount,</if>
            <if test="used_amount != null ">used_amount,</if>
            <if test="used_discount != null ">used_discount,</if>
            <if test="coupon_quota != null ">coupon_quota,</if>
            <if test="take_count != null ">take_count,</if>
            <if test="used_count != null ">used_count,</if>
            <if test="start_time != null and start_time != ''">start_time,</if>
            <if test="end_time != null and end_time != ''">end_time,</if>
            <if test="valid_type != null ">valid_type,</if>
            <if test="valid_start_time != null and valid_start_time != ''">valid_start_time,</if>
            <if test="valid_end_time != null and valid_end_time != ''">valid_end_time,</if>
            <if test="valid_days != null ">valid_days,</if>
            <if test="coupon_status != null ">coupon_status,</if>
            <if test="create_user != null and create_user != ''">create_user,</if>
            create_time,
        </trim>
    </sql>

    <!-- insertColumns 入库值 -->
    <sql id="insertParams">
        <trim suffix="" suffixOverrides=",">
            <if test="coupon_id != null and coupon_id != ''">#{coupon_id,jdbcType=VARCHAR},</if>
            <if test="coupon_title != null and coupon_title != ''">#{coupon_title,jdbcType=VARCHAR},</if>
            <if test="coupon_icon != null and coupon_icon != ''">#{coupon_icon,jdbcType=VARCHAR},</if>
            <if test="shop_id != null and shop_id != ''">#{shop_id,jdbcType=VARCHAR},</if>
            <if test="coupon_used != null and coupon_used != ''">#{coupon_used,jdbcType=VARCHAR},</if>
            <if test="coupon_type != null ">${coupon_type},</if>
            <if test="goods_id != null and goods_id != ''">#{goods_id,jdbcType=VARCHAR},</if>
            <if test="classify_id != null and classify_id != ''">#{classify_id,jdbcType=VARCHAR},</if>
            <if test="promotion_id != null and promotion_id != ''">#{promotion_id,jdbcType=VARCHAR},</if>
            <if test="coupon_amount != null">${coupon_amount},</if>
            <if test="used_amount != null and used_amount != ''">#{used_amount,jdbcType=VARCHAR},</if>
            <if test="used_discount != null and used_discount != ''">#{used_discount,jdbcType=VARCHAR},</if>
            <if test="coupon_quota != null ">${coupon_quota},</if>
            <if test="take_count != null ">${take_count},</if>
            <if test="used_count != null ">${used_count},</if>
            <if test="start_time != null and start_time != ''">#{start_time,jdbcType=VARCHAR},</if>
            <if test="end_time != null and end_time != ''">#{end_time,jdbcType=VARCHAR},</if>
            <if test="valid_type != null ">${valid_type},</if>
            <if test="valid_start_time != null and valid_start_time != ''">#{valid_start_time,jdbcType=VARCHAR},</if>
            <if test="valid_end_time != null and valid_end_time != ''">#{valid_end_time,jdbcType=VARCHAR},</if>
            <if test="valid_days != null ">${valid_days},</if>
            <if test="coupon_status != null ">${coupon_status},</if>
            <if test="update_user != null and update_user != ''">#{update_user,jdbcType=VARCHAR},</if>
            now(),
        </trim>
    </sql>

    <!-- updateParams  更新列 -->
    <sql id="updateParams">
        <trim suffix="" suffixOverrides=",">
            <if test="coupon_title != null">
                coupon_title=#{coupon_title,jdbcType=VARCHAR},
            </if>
            <if test="coupon_icon != null and coupon_icon != ''">
                coupon_icon=#{coupon_icon,jdbcType=VARCHAR},
            </if>
            <if test="shop_id != null and shop_id != ''">
                shop_id=#{shop_id,jdbcType=VARCHAR},
            </if>
            <if test="coupon_used != null and coupon_used != ''">
                coupon_used=#{coupon_used,jdbcType=VARCHAR},
            </if>
            <if test="coupon_type != null and coupon_type != ''">
                coupon_type=#{coupon_type,jdbcType=VARCHAR},
            </if>
            <if test="goods_id != null">
                goods_id=#{goods_id},
            </if>
        </trim>
    </sql>

    <!-- fields  模糊查询 -->
    <sql id="allAndLike">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.coupon_title != null and t.coupon_title != '' ">and coupon_title like
                    concat('%',#{t.coupon_title},'%')
                </if>
                <if test="t.shop_id != null and t.shop_id != '' ">and shop_id like
                    concat('%',#{t.shop_id},'%')
                </if>
                <if test="t.goods_id != null   ">and goods_id like
                    concat('%',#{t.goods_id},'%')
                </if>
                <if test="t.classify_id != null   ">and classify_id like
                    concat('%',#{t.classify_id},'%')
                </if>
                <if test="t.promotion_id != null   ">and promotion_id like
                    concat('%',#{t.promotion_id},'%')
                </if>
            </if>
        </trim>
    </sql>

    <!-- fields  精准查询 -->
    <sql id="allAndEqual">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.coupon_id != null  and t.coupon_id != '' ">and coupon_id =
                    #{t.coupon_id}
                </if>
                <if test="t.coupon_title != null  and t.coupon_title != '' ">and coupon_title =
                    #{t.coupon_title}
                </if>
                <if test="t.shop_id != null  and t.shop_id != ''  ">and shop_id =
                    #{t.shop_id}
                </if>
                <if test="t.goods_id != null  ">and goods_id =
                    #{t.goods_id}
                </if>
            </if>
        </trim>
    </sql>

    <!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
    <sql id="primaryKeys">
        coupon_id = #{coupon_id}
    </sql>


    <sql id="queryParamSql">
        <where>
            <choose>
                <when test="queryParam !=null and queryParam.like==true">
                    <include refid="allAndLike"/>
                </when>
                <otherwise>
                    <include refid="allAndEqual"/>
                </otherwise>
            </choose>
            <if test="queryParam !=null and queryParam.queryCondition !=null">
                <![CDATA[${queryParam.queryCondition}]]>
            </if>

        </where>

        <choose>
            <when test="queryParam !=null and queryParam.orderFiled !=null and queryParam.orderFiled!=''">
                order by <![CDATA[${queryParam.orderFiled} ${queryParam.orderDirection}]]>
            </when>
            <when test="queryParam !=null and queryParam.orderFieldListStr !=null and queryParam.orderFieldListStr!=''">
                order by <![CDATA[${queryParam.orderFieldListStr}]]>
            </when>
            <otherwise>
                order by coupon_id desc
            </otherwise>
        </choose>

        <if test="queryParam !=null and queryParam.limitOffSet !=null">
            limit <![CDATA[${queryParam.limitOffSet},${queryParam.pageSize}]]>
        </if>

    </sql>

    <!-- BaseMapper 对应接口 start  -->
    <!-- 1.  查询,主键查询   -->
    <select id="selectByPrimaryKey" resultMap="couponResult">
        select
        <include refid="tableColumns"/>
        from t_coupon
        <where>
            <include refid="primaryKeys"/>
        </where>
    </select>

    <!-- 2. 查询,精准查询   -->
    <select id="selectByEqualT" resultMap="couponResult">
        select
        <include refid="tableColumns"/>
        from t_coupon
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 3. 添加,插入记录   -->
    <insert id="insert">
        insert into t_coupon (<include refid="insertColumns"/>) values(<include refid="insertParams"/>);
    </insert>

    <!-- 4. 修改,主键更新  -->
    <update id="updateByPrimaryKey">
        update t_coupon
        <set>
            <include refid="updateParams"/>
        </set>
        <where>
            <include refid="primaryKeys"/>
        </where>
    </update>

    <!-- 5. 查询,实体模糊查询   -->
    <select id="selectByBlurryT" resultMap="couponResult">
        select
        <include refid="tableColumns"/>
        from t_coupon
        <where>
            <include refid="allAndLike"/>
        </where>
        ORDER BY coupon_id
    </select>

    <!-- 6. 查询 ,总行数,分页 ,模型 -->
    <select id="countByBlurryT" resultType="java.lang.Integer">
        select count(1) from t_coupon
        <include refid="queryParamSql"/>
    </select>

    <!-- 7. 删除,主键删除   -->
    <delete id="deleteByPrimaryKey">
        delete from t_coupon
        <where>
            <include refid="primaryKeys"/>
        </where>
    </delete>

    <!-- 8. 删除,按实体精准删除   -->
    <select id="deleteByT" resultMap="couponResult">
        delete from t_coupon
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 9. 删除,按实体多字段模糊删除   -->
    <select id="deleteByBlurryT" resultMap="couponResult">
        delete from t_coupon
        <where>
            <include refid="allAndLike"/>
        </where>
    </select>


    <select id="listByModel" resultMap="couponResult">
        select
        <include refid="tableColumns"/>
        from t_coupon
        <include refid="queryParamSql"/>
    </select>

    <!-- BaseMapper 对应接口 end   -->



    <!-- OtherModule Mapper 对应接口 start  -->

    <!-- OtherModule Mapper 对应接口 end  -->

</mapper>
