<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Copyright (c) 2016 by ivan.huang all rights reserved  
*********************************************** 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="com.hl.childhood.mapper.GoodsSpeMapper">

    <resultMap type="com.hl.childhood.module.GoodsSpe" id="goodsSpeResult">
        <result column="spe_id" property="spe_id"/>
        <result column="goods_id" property="goods_id"/>
        <result column="spe_name" property="spe_name"/>
        <result column="spe_desc" property="spe_desc"/>
        <result column="spe_price" property="spe_price"/>
        <result column="member_price" property="member_price"/>
        <result column="spe_icon" property="spe_icon"/>
        <result column="spe_inventory" property="spe_inventory"/>
        <result column="is_valid" property="is_valid"/>
        <result column="spe_seq" property="spe_seq"/>
    </resultMap>

    <sql id="table">
        t_goods_spe
    </sql>

    <sql id="tableColumns">
        <trim>
            spe_id,
            goods_id,
            spe_name,
            spe_desc,
            spe_price,
            member_price,
            spe_icon,
            spe_inventory,
            is_valid,
            spe_seq
        </trim>
    </sql>

    <!-- insertColumns 入库列 -->
    <sql id="insertColumns">
        <trim suffix="" suffixOverrides=",">
            <if test="spe_id != null and spe_id != ''">spe_id,</if>
            <if test="goods_id != null and goods_id != ''">goods_id,</if>
            <if test="spe_name != null and spe_name != ''">spe_name,</if>
            <if test="spe_desc != null and spe_desc != ''">spe_desc,</if>
            <if test="spe_price != null and spe_price != ''">spe_price,</if>
            <if test="member_price != null and member_price != ''">member_price,</if>
            <if test="spe_icon != null and spe_icon != '' ">spe_icon,</if>
            <if test="spe_inventory != null ">spe_inventory,</if>
            <if test="is_valid != null ">is_valid,</if>
            <if test="spe_seq != null ">spe_seq,</if>
        </trim>
    </sql>

    <!-- insertColumns 入库值 -->
    <sql id="insertParams">
        <trim suffix="" suffixOverrides=",">
            <if test="spe_id != null and spe_id != ''">#{spe_id,jdbcType=VARCHAR},</if>
            <if test="goods_id != null and goods_id != ''">#{goods_id,jdbcType=VARCHAR},</if>
            <if test="spe_name != null and spe_name != ''">#{spe_name,jdbcType=VARCHAR},</if>
            <if test="spe_desc != null and spe_desc != ''">#{spe_desc,jdbcType=VARCHAR},</if>
            <if test="spe_price != null and spe_price != ''">#{spe_price,jdbcType=VARCHAR},</if>
            <if test="member_price != null and member_price != ''">#{member_price,jdbcType=VARCHAR},</if>
            <if test="spe_icon != null and spe_icon != ''">#{spe_icon,jdbcType=VARCHAR},</if>
            <if test="spe_inventory != null">${spe_inventory},</if>
            <if test="is_valid != null ">${is_valid},</if>
            <if test="spe_seq != null ">${spe_seq},</if>
        </trim>
    </sql>

    <!-- updateParams  更新列 -->
    <sql id="updateParams">
        <trim suffix="" suffixOverrides=",">
            <if test="goods_id != null and goods_id != ''">
                goods_id=#{goods_id,jdbcType=VARCHAR},
            </if>
            <if test="spe_name != null and spe_name != ''">
                spe_name=#{spe_name,jdbcType=VARCHAR},
            </if>
            <if test="spe_desc != null and spe_desc != ''">
                spe_desc=#{spe_desc,jdbcType=VARCHAR},
            </if>
            <if test="spe_price != null and spe_price != ''">
                spe_price=#{spe_price,jdbcType=VARCHAR},
            </if>
            <if test="member_price != null and member_price != ''">
                member_price=#{member_price,jdbcType=VARCHAR},
            </if>
            <if test="spe_icon != null and spe_icon != ''">
                spe_icon=#{spe_icon,jdbcType=VARCHAR},
            </if>
            <if test="spe_inventory != null ">
                spe_inventory=${spe_inventory},
            </if>
            <if test="is_valid != null ">
                is_valid=${is_valid},
            </if>
            <if test="spe_seq != null ">
                spe_seq=${spe_seq},
            </if>
        </trim>
    </sql>

    <!-- fields  模糊查询 -->
    <sql id="allAndLike">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.goods_id != null and t.goods_id != '' ">and goods_id like
                    concat('%',#{t.goods_id},'%')
                </if>
                <if test="t.spe_name != null   and t.spe_name != '' ">and spe_name like
                    concat('%',#{t.spe_name},'%')
                </if>
                <if test="t.spe_desc != null and t.spe_desc != '' ">and spe_desc like
                    concat('%',#{t.spe_desc},'%')
                </if>
                <if test="t.is_valid != null  ">
                    and is_valid = ${t.is_valid}
                </if>
            </if>
        </trim>
    </sql>

    <!-- fields  精准查询 -->
    <sql id="allAndEqual">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.spe_id != null  and t.spe_id != '' ">and spe_id =
                    #{t.spe_id}
                </if>
                <if test="t.goods_id != null  and t.goods_id != '' ">and goods_id =
                    #{t.goods_id}
                </if>
                <if test="t.spe_name != null  and t.spe_name != '' ">and spe_name =
                    #{t.spe_name}
                </if>
                <if test="t.spe_desc != null  and t.spe_desc != ''  ">and spe_desc =
                    #{t.spe_desc}
                </if>
            </if>
        </trim>
    </sql>

    <!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
    <sql id="primaryKeys">
        spe_id = #{spe_id}
    </sql>


    <sql id="queryParamSql">
        <where>
            <choose>
                <when test="queryParam !=null and queryParam.like==true">
                    <include refid="allAndLike"/>
                </when>
                <otherwise>
                    <include refid="allAndEqual"/>
                </otherwise>
            </choose>
            <if test="queryParam !=null and queryParam.queryCondition !=null">
                <![CDATA[${queryParam.queryCondition}]]>
            </if>

        </where>

        <choose>
            <when test="queryParam !=null and queryParam.orderFiled !=null and queryParam.orderFiled!=''">
                order by <![CDATA[${queryParam.orderFiled} ${queryParam.orderDirection}]]>
            </when>
            <when test="queryParam !=null and queryParam.orderFieldListStr !=null and queryParam.orderFieldListStr!=''">
                order by <![CDATA[${queryParam.orderFieldListStr}]]>
            </when>
            <otherwise>
                order by spe_id desc
            </otherwise>
        </choose>

        <if test="queryParam !=null and queryParam.limitOffSet !=null">
            limit <![CDATA[${queryParam.limitOffSet},${queryParam.pageSize}]]>
        </if>

    </sql>

    <!-- BaseMapper 对应接口 start  -->
    <!-- 1.  查询,主键查询   -->
    <select id="selectByPrimaryKey" resultMap="goodsSpeResult">
        select
        <include refid="tableColumns"/>
        from t_goods_spe
        <where>
            <include refid="primaryKeys"/>
        </where>
    </select>

    <!-- 2. 查询,精准查询   -->
    <select id="selectByEqualT" resultMap="goodsSpeResult">
        select
        <include refid="tableColumns"/>
        from t_goods_spe
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 3. 添加,插入记录   -->
    <insert id="insert">
        insert into t_goods_spe (<include refid="insertColumns"/>) values(<include refid="insertParams"/>);
    </insert>

    <!-- 4. 修改,主键更新  -->
    <update id="updateByPrimaryKey">
        update t_goods_spe
        <set>
            <include refid="updateParams"/>
        </set>
        <where>
            <include refid="primaryKeys"/>
        </where>
    </update>

    <!-- 5. 查询,实体模糊查询   -->
    <select id="selectByBlurryT" resultMap="goodsSpeResult">
        select
        <include refid="tableColumns"/>
        from t_goods_spe
        <where>
            <include refid="allAndLike"/>
        </where>
        ORDER BY spe_id
    </select>

    <!-- 6. 查询 ,总行数,分页 ,模型 -->
    <select id="countByBlurryT" resultType="java.lang.Integer">
        select count(1) from t_goods_spe
        <include refid="queryParamSql"/>
    </select>

    <!-- 7. 删除,主键删除   -->
    <delete id="deleteByPrimaryKey">
        delete from t_goods_spe
        <where>
            <include refid="primaryKeys"/>
        </where>
    </delete>

    <!-- 8. 删除,按实体精准删除   -->
    <select id="deleteByT" resultMap="goodsSpeResult">
        delete from t_goods_spe
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 9. 删除,按实体多字段模糊删除   -->
    <select id="deleteByBlurryT" resultMap="goodsSpeResult">
        delete from t_goods_spe
        <where>
            <include refid="allAndLike"/>
        </where>
    </select>


    <select id="listByModel" resultMap="goodsSpeResult">
        select
        <include refid="tableColumns"/>
        from t_goods_spe
        <include refid="queryParamSql"/>
    </select>

    <!-- BaseMapper 对应接口 end   -->



    <!-- OtherModule Mapper 对应接口 start  -->

    <!-- OtherModule Mapper 对应接口 end  -->

</mapper>
