<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
Copyright (c) 2016 by ivan.huang all rights reserved  
*********************************************** 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="com.hl.childhood.mapper.ShopingCarMapper">

    <resultMap type="com.hl.childhood.module.ShopingCar" id="shopingCarResult">
        <result column="sc_id" property="sc_id"/>
        <result column="user_id" property="user_id"/>
        <result column="promotion_id" property="promotion_id"/>
        <result column="spe_id" property="spe_id"/>
        <result column="sc_price" property="sc_price"/>
        <result column="sc_num" property="sc_num"/>
        <result column="createtime" property="createtime"/>
    </resultMap>

    <sql id="table">
        t_shoping_car
    </sql>

    <sql id="tableColumns">
        <trim>
            sc_id,
            user_id,
            promotion_id,
            spe_id,
            sc_price,
            sc_num,
            createtime
        </trim>
    </sql>

    <!-- insertColumns 入库列 -->
    <sql id="insertColumns">
        <trim suffix="" suffixOverrides=",">
            <if test="sc_id != null and sc_id != ''">sc_id,</if>
            <if test="user_id != null and user_id != ''">user_id,</if>
            <if test="promotion_id != null and promotion_id != ''">promotion_id,</if>
            <if test="spe_id != null and spe_id != ''">spe_id,</if>
            <if test="sc_price != null and sc_price != ''">sc_price,</if>
            <if test="sc_num != null ">sc_num,</if>
            createtime,
        </trim>
    </sql>

    <!-- insertColumns 入库值 -->
    <sql id="insertParams">
        <trim suffix="" suffixOverrides=",">
            <if test="sc_id != null and sc_id != ''">#{sc_id,jdbcType=VARCHAR},</if>
            <if test="user_id != null and user_id != ''">#{user_id,jdbcType=VARCHAR},</if>
            <if test="promotion_id != null and promotion_id != ''">#{promotion_id,jdbcType=VARCHAR},</if>
            <if test="spe_id != null and spe_id != ''">#{spe_id,jdbcType=VARCHAR},</if>
            <if test="sc_price != null and sc_price != ''">#{sc_price,jdbcType=VARCHAR},</if>
            <if test="sc_num != null ">${sc_num},</if>
            now(),
        </trim>
    </sql>

    <!-- updateParams  更新列 -->
    <sql id="updateParams">
        <trim suffix="" suffixOverrides=",">
            <if test="user_id != null">
                user_id=#{user_id,jdbcType=VARCHAR},
            </if>
            <if test="promotion_id != null and promotion_id != ''">
                promotion_id=#{promotion_id,jdbcType=VARCHAR},
            </if>
            <if test="spe_id != null and spe_id != ''">
                spe_id=#{spe_id,jdbcType=VARCHAR},
            </if>
            <if test="sc_price != null and sc_price != ''">
                sc_price=#{sc_price,jdbcType=VARCHAR},
            </if>
            <if test="sc_num != null ">
                sc_num=${sc_num},
            </if>
        </trim>
    </sql>

    <!-- fields  模糊查询 -->
    <sql id="allAndLike">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.user_id != null and t.user_id != '' ">and user_id like
                    concat('%',#{t.user_id},'%')
                </if>
                <if test="t.promotion_id != null   and t.promotion_id != '' ">and promotion_id like
                    concat('%',#{t.promotion_id},'%')
                </if>
                <if test="t.spe_id != null and t.spe_id != '' ">and spe_id like
                    concat('%',#{t.spe_id},'%')
                </if>
            </if>
        </trim>
    </sql>

    <!-- fields  精准查询 -->
    <sql id="allAndEqual">
        <trim suffix="" suffixOverrides=",">
            <if test="t !=null ">
                <if test="t.sc_id != null  and t.sc_id != '' ">and sc_id =
                    #{t.sc_id}
                </if>
                <if test="t.user_id != null  and t.user_id != '' ">and user_id =
                    #{t.user_id}
                </if>
                <if test="t.promotion_id != null  and t.promotion_id != '' ">and promotion_id =
                    #{t.promotion_id}
                </if>
                <if test="t.spe_id != null  and t.spe_id != ''  ">and spe_id =
                    #{t.spe_id}
                </if>
            </if>
        </trim>
    </sql>

    <!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
    <sql id="primaryKeys">
        sc_id = #{sc_id}
    </sql>


    <sql id="queryParamSql">
        <where>
            <choose>
                <when test="queryParam !=null and queryParam.like==true">
                    <include refid="allAndLike"/>
                </when>
                <otherwise>
                    <include refid="allAndEqual"/>
                </otherwise>
            </choose>
            <if test="queryParam !=null and queryParam.queryCondition !=null">
                <![CDATA[${queryParam.queryCondition}]]>
            </if>

        </where>

        <choose>
            <when test="queryParam !=null and queryParam.orderFiled !=null and queryParam.orderFiled!=''">
                order by <![CDATA[${queryParam.orderFiled} ${queryParam.orderDirection}]]>
            </when>
            <when test="queryParam !=null and queryParam.orderFieldListStr !=null and queryParam.orderFieldListStr!=''">
                order by <![CDATA[${queryParam.orderFieldListStr}]]>
            </when>
            <otherwise>
                order by sc_id desc
            </otherwise>
        </choose>

        <if test="queryParam !=null and queryParam.limitOffSet !=null">
            limit <![CDATA[${queryParam.limitOffSet},${queryParam.pageSize}]]>
        </if>

    </sql>

    <!-- BaseMapper 对应接口 start  -->
    <!-- 1.  查询,主键查询   -->
    <select id="selectByPrimaryKey" resultMap="shopingCarResult">
        select
        <include refid="tableColumns"/>
        from t_shoping_car
        <where>
            <include refid="primaryKeys"/>
        </where>
    </select>

    <!-- 2. 查询,精准查询   -->
    <select id="selectByEqualT" resultMap="shopingCarResult">
        select
        <include refid="tableColumns"/>
        from t_shoping_car
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 3. 添加,插入记录   -->
    <insert id="insert">
        insert into t_shoping_car (<include refid="insertColumns"/>) values(<include refid="insertParams"/>);
    </insert>

    <!-- 4. 修改,主键更新  -->
    <update id="updateByPrimaryKey">
        update t_shoping_car
        <set>
            <include refid="updateParams"/>
        </set>
        <where>
            <include refid="primaryKeys"/>
        </where>
    </update>

    <!-- 5. 查询,实体模糊查询   -->
    <select id="selectByBlurryT" resultMap="shopingCarResult">
        select
        <include refid="tableColumns"/>
        from t_shoping_car
        <where>
            <include refid="allAndLike"/>
        </where>
        ORDER BY sc_id
    </select>

    <!-- 6. 查询 ,总行数,分页 ,模型 -->
    <select id="countByBlurryT" resultType="java.lang.Integer">
        select count(1) from t_shoping_car
        <include refid="queryParamSql"/>
    </select>

    <!-- 7. 删除,主键删除   -->
    <delete id="deleteByPrimaryKey">
        delete from t_shoping_car
        <where>
            <include refid="primaryKeys"/>
        </where>
    </delete>

    <!-- 8. 删除,按实体精准删除   -->
    <select id="deleteByT" resultMap="shopingCarResult">
        delete from t_shoping_car
        <where>
            <include refid="allAndEqual"/>
        </where>
    </select>

    <!-- 9. 删除,按实体多字段模糊删除   -->
    <select id="deleteByBlurryT" resultMap="shopingCarResult">
        delete from t_shoping_car
        <where>
            <include refid="allAndLike"/>
        </where>
    </select>


    <select id="listByModel" resultMap="shopingCarResult">
        select
        <include refid="tableColumns"/>
        from t_shoping_car
        <include refid="queryParamSql"/>
    </select>

    <!-- BaseMapper 对应接口 end   -->



    <!-- OtherModule Mapper 对应接口 start  -->
    <resultMap type="com.hl.childhood.vo.shopingCar.ShopingCarVO" id="shopingCarVO">
        <result column="sc_id" property="sc_id"/>
        <result column="goods_id" property="goods_id"/>
        <result column="goods_name" property="goods_name"/>
        <result column="spe_id" property="spe_id"/>
        <result column="spe_name" property="spe_name"/>
        <result column="spe_desc" property="spe_desc"/>
        <result column="spe_price" property="spe_price"/>
        <result column="sc_price" property="sc_price"/>
        <result column="sc_num" property="sc_num"/>
    </resultMap>

    <select id="shopingCarsList" resultMap="shopingCarVO">
        SELECT tsc.sc_id, tg.goods_id, tg.goods_name, tgs.spe_id,
        tgs.spe_name, tgs.spe_price, tsc.sc_price, tsc.sc_num
        FROM t_shoping_car tsc
        INNER JOIN t_goods_spe tgs
        ON (tsc.spe_id = tgs.spe_id AND tsc.shop_id = #{shopId}
            AND tsc.user_id = #{loginerId} )
        INNER JOIN t_goods tg
        ON (tgs.goods_id = tg.goods_id)
        ORDER BY tsc.createtime DESC
    </select>

    <resultMap type="com.hl.childhood.vo.shopingCar.ShopingCarGoodsVO" id="shopingCarGoodsVO">
        <result column="goods_id" property="goods_id"/>
        <result column="goods_image_link" property="goods_image_link"/>
        <result column="goods_name" property="goods_name"/>
        <result column="goods_desc" property="goods_desc"/>
        <result column="goods_price" property="goods_price"/>
    </resultMap>

    <select id="shopingCarsGoods" resultMap="shopingCarGoodsVO">
        SELECT tg.goods_id, ti.image_remote_link AS 'goods_image_link',
        tg.goods_name, tg.goods_desc, tg.goods_price
        FROM t_goods tg
        INNER JOIN t_search_his tsh
        ON (tg.goods_search LIKE CONCAT('%', tsh.sh_value, '%')
            AND tg.goods_status = 2)
        INNER JOIN t_classify tc
        ON (tc.classify_id = tg.classify_id AND tc.shop_id = #{shopId})
        LEFT JOIN t_image ti
        ON (tg.image_id = ti.image_id)
        ORDER BY tg.createtime DESC
    </select>

    <resultMap type="com.hl.childhood.vo.order.OrderGoodsVO" id="orderGoodsVO">
        <result column="sc_id" property="sc_id"/>
        <result column="goods_name" property="goods_name"/>
        <result column="spe_name" property="spe_name"/>
        <result column="spe_icon" property="spe_icon"/>
        <result column="spe_desc" property="spe_desc"/>
        <result column="spe_price" property="spe_price"/>
        <result column="sc_price" property="sc_price"/>
        <result column="promotion_id" property="promotion_id"/>
        <result column="sc_num" property="sc_num"/>
    </resultMap>

    <select id="orderGoods" resultMap="orderGoodsVO">
        SELECT tsc.sc_id, tg.goods_name, tgs.spe_name, tgs.spe_icon, tgs.spe_desc,
        tgs.spe_price, tsc.promotion_id, tsc.sc_price
        FROM t_shoping_car tsc
        INNER JOIN t_goods_spe tgs
        ON (tsc.spe_id = tgs.spe_id
        AND tsc.sc_id IN
        <foreach collection="scIds" item="id" index="index" open="(" close=")" separator=",">#{id}
        </foreach>
        )
        INNER JOIN t_goods tg
        ON (tgs.goods_id = tg.goods_id)
    </select>

    <resultMap type="com.hl.childhood.vo.order.OrderGoodsVO1" id="orderGoodsVO1">
        <result column="sc_id" property="sc_id"/>
        <result column="promotion_id" property="promotion_id"/>
        <result column="goods_id" property="goods_id"/>
        <result column="spe_id" property="spe_id"/>
        <result column="spe_price" property="spe_price"/>
        <result column="spe_seq" property="spe_seq"/>
    </resultMap>

    <select id="getOrderGoods" resultMap="orderGoodsVO1">
        SELECT result1.*, (@i:= @i+1) AS 'spe_seq'
        FROM (
        SELECT tsc.sc_id, tgs.goods_id, tsc.spe_id, tsc.sc_price AS 'spe_price', tsc.promotion_id
        FROM t_shoping_car tsc
        INNER JOIN t_goods_spe tgs
        ON (tsc.spe_id = tgs.spe_id )
        WHERE tsc.sc_id IN
        <foreach collection="scIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        ORDER BY tsc.createtime
        ) result1, (SELECT @i:=0) AS i
    </select>


    <!-- OtherModule Mapper 对应接口 end  -->

</mapper>
